<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (student) { %>
        <form class="add-student-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first-name" value="<%= student.first_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last-name" value="<%= student.last_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="username">ID</label>
                    <input type="text" class="form-control" name="ID" id="ID" value="<%= student.ID %>" required disabled title="ID cannot be edited.">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="text">EmailID</label>
                    <input type="text" class="form-control" name="EmailID" id="EmailID" placeholder="EmailID" value="<%= student.number %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="position">GPA</label>
                  <input type="number" class="form-control" name="GPA" id="GPA" placeholder="GPA" value="<%= student.number %>" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update student</button>
        </form>
    <% } else { %>
        <p class="text-center">student Not Found. Go <a href="/add">here</a> to add students.</p>
    <% } %>
</div>
</div>
</body>
</html>